[run]
source = app/
omit = 
    tests/*
    */venv/*
    */virtualenv/*
    */__pycache__/*
    */site-packages/*
    preload_models.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    @abstractmethod

[html]
directory = htmlcov
